.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-container > h1 {
  margin-top: .5em;
  font-family: 'Montserrat', sans-serif;
}
.about-me {
  display: flex;
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: 1em;
}
.about-me > img {
  width: 30%;
  height: 30%;
  margin
}
.bio {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0em 1em;
}
.bio > p {
  font-family: 'Raleway', sans-serif;
}

@media (max-width: 576px) {
  .about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-me > img {
    width: 45%;
    height: 45%
  }
  .bio {
    margin: .5em 0em;
  }
  .hello {
    text-align: center;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .about-me > img {
    width: 40%;
    height: 40%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-me > img {
    width: 50%;
    height:50%;
  }
  .bio {
    margin-top: .5em;
    padding-bottom: .5em;
    font-size: 2em;
  }
  .hello {
    text-align: center;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-me > img {
    width: 45%;
    height: 45%
  }
  .bio {
    margin: 1em 1em;
    font-size: 1em
  }
  .bio > p {
    font-size: 1.75em;
  }
  .hello {
    text-align: center;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
