nav {
  background-color: rgb(169, 209, 212);
}
ul > .nav-item {
  font-family: 'Montserrat', sans-serif;
  margin: 0em .75em;
  font-weight: bold;
}

.nav-item > a {
  color: white;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  nav {
    padding: .5em .25em;
  }
  .nav-item {
    margin: 0em;
  }
  .nav-item > a {
    font-size: .75em;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }
